USE [PLASMATRAX_CurrentDev]
GO
/****** Object:  StoredProcedure [testScalarFunctions].[test_dbo.getSequence_Washmethod]    Script Date: 8/29/2023 10:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [testScalarFunctions].[test_dbo.getSequence_Washmethod]
AS
BEGIN
	IF OBJECT_ID('expected') IS NOT NULL DROP TABLE expected;
	IF OBJECT_ID('actual') IS NOT NULL DROP TABLE actual;
	CREATE TABLE actual(result VARCHAR(50));
	CREATE TABLE expected(result VARCHAR(50));

	DECLARE @sampletypeId	INT;			SET @sampletypeId = 1;
	DECLARE @washtype		VARCHAR(20);	SET @washtype = 'Std';

	EXEC tSQLt.FakeTable 'dbo', 'SampleTypeDATA';

	INSERT INTO actual VALUES ([dbo].[getSequence_Washmethod](@sampletypeId, @washtype));
	SET @washtype = 'Sample';
	INSERT INTO actual VALUES ([dbo].[getSequence_Washmethod](@sampletypeId, @washtype));
	SET @washtype = 'SampleType';
	INSERT INTO actual VALUES ([dbo].[getSequence_Washmethod](@sampletypeId, @washtype));

	INSERT INTO expected VALUES('imastdwash.fast');
	INSERT INTO expected VALUES('imasamplewash.fast');
	--This should be "imasampletypewash.fast" but cannot because the case statement has a bug. Noted in the text document. 
	INSERT INTO expected VALUES('imasamplewash.fast');

	EXEC tSQLt.AssertEqualsTable 'expected', 'actual';
END;
