USE [PLASMATRAX_CurrentDev]
GO
/****** Object:  StoredProcedure [testScalarFunctions].[test_dbo.getProtocolId]    Script Date: 8/29/2023 10:23:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [testScalarFunctions].[test_dbo.getProtocolId]
AS
BEGIN
	IF OBJECT_ID('expected') IS NOT NULL DROP TABLE expected;
	IF OBJECT_ID('actual') IS NOT NULL DROP TABLE actual;

	CREATE TABLE actual(ProtoId	TINYINT);
	CREATE TABLE expected(ProtoId TINYINT);

	DECLARE @sampletype	VARCHAR(30);	SET @sampletype = 'Testing';

	EXEC tSQLt.FakeTable 'dbo', 'SampleTypeDATA'

	EXEC tSQLt.FakeTable 'dbo', 'SampleType';
	INSERT INTO [dbo].[SampleType] ([Id]
      ,[Name]
      ,[TypeId]
      ,[EnableNano]
      ,[EnablePrepMass]) VALUES (1
	  ,'Testing'
	  ,0
	  ,0
	  ,0);

	INSERT INTO actual VALUES ([dbo].[getProtocolId](@sampletype));

	SET @sampletype = '';

	EXEC tSQLt.FakeTable 'dbo', 'DiscoverDATA';

	EXEC tSQLt.FakeTable 'dbo', 'Protocol';
	INSERT INTO [dbo].[Protocol] ([Id]
      ,[Name]
      ,[CalId]
      ,[Prefix]
      ,[TypeId]) VALUES (2
	  ,'Testing_Proto'
	  ,1
	  ,''
	  ,0);

	INSERT INTO actual VALUES([dbo].[getProtocolId](@sampletype));

	INSERT INTO expected VALUES(1);
	INSERT INTO expected VALUES (2);

	EXEC tSQLt.AssertEqualsTable 'expected', 'actual';
END;
