USE [PLASMATRAX_CurrentDev]
GO
/****** Object:  StoredProcedure [testScalarFunctions].[test_dbo.getSampletypeId_byTraxId]    Script Date: 8/29/2023 10:24:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [testScalarFunctions].[test_dbo.getSampletypeId_byTraxId]
AS
BEGIN
	IF OBJECT_ID('expected') IS NOT NULL DROP TABLE expected;
	IF OBJECT_ID('actual') IS NOT NULL DROP TABLE actual;

	CREATE TABLE actual(results TINYINT);
	CREATE TABLE expected(results TINYINT);
	DECLARE @traxId		VARCHAR(30);	SET @traxId = 'ESIQA01234';

	INSERT INTO expected VALUES(35);
	INSERT INTO expected VALUES(0);

	EXEC tSQLt.FakeTable 'dbo', 'SampleTypeDATA';

	EXEC tSQLt.FakeTable 'dbo', 'SEQUENCE_LIST_2';

	EXEC tSQLt.FakeTable 'dbo', 'BottleDetails';
	INSERT INTO [dbo].[BottleDetails] ([Id]
      ,[UserId]
      ,[User]
      ,[TraxId]
      ,[Status]
      ,[SampleTypeId]
      ,[SampleType]
      ,[ProtocolId]
      ,[SequenceId]
      ,[Analysis]
      ,[DateTime]) VALUES(1
	  ,'03'
	  ,'ESI\Testing'
	  ,'ESIQA01234'
	  ,1
	  ,35
	  ,'Testing'
	  ,1
	  ,'75569F05-EB82-4334-97FC-C334147E46D5'
	  ,'082123160918'
	  ,'08/24/2023 13:33:05');

	INSERT INTO actual VALUES([dbo].[getSampletypeId_byTraxId](@traxId));

	UPDATE [dbo].[SampleTypeDATA] SET SampleTypeId = 0 WHERE Id = 1;
	UPDATE [dbo].[SEQUENCE_LIST_2] SET SampleTypeId = 0 WHERE Id = 1;

	INSERT INTO actual VALUES([dbo].[getSampleTypeId_byTraxId](@traxId));

	EXEC tSQLt.AssertEqualsTable 'expected', 'actual';
END;
