USE [PLASMATRAX_CurrentDev]
GO
/****** Object:  StoredProcedure [testScalarFunctions].[test_dbo.getFastMethod_fromSequences]    Script Date: 8/29/2023 10:19:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [testScalarFunctions].[test_dbo.getFastMethod_fromSequences]
AS
BEGIN
	IF OBJECT_ID('expected') IS NOT NULL DROP TABLE expected;
	IF OBJECT_ID('actual') IS NOT NULL DROP TABLE actual;

	CREATE TABLE expected(FastMethod VARCHAR(50));
	CREATE TABLE actual(FastMethod VARCHAR(50));
	DECLARE @description VARCHAR(50);	SET @description = 'Std-2';
	DECLARE @sequenceId VARCHAR(36);	SET @sequenceId = '75569F05-EB82-4334-97FC-C334147E46D5';
	DECLARE @analysis VARCHAR(12);	SET @analysis = '082323093432';

	EXEC tSQLt.FakeTable 'dbo', 'SEQUENCE_LIST_1';

	INSERT INTO actual VALUES([dbo].[getFastMethod_fromSequences](@description, @sequenceId, @analysis));

	EXEC tSQLt.FakeTable 'dbo', 'SEQUENCE_LIST';

	SET @description = 'SC';
	SET @analysis = '082323093935';
	SET @sequenceId = '5B0972AE-8500-4A9C-8826-487C6F29C57F';

	INSERT INTO actual VALUES([dbo].[getFastMethod_fromSequences](@description, @sequenceId, @analysis));

	INSERT INTO expected VALUES('S5_VL_D1.fast');
	INSERT INTO expected VALUES('S5_SA_C2.fast');

	EXEC tSQLt.AssertEqualsTable 'expected', 'actual';
END;
