USE [PLASMATRAX_CurrentDev]
GO
/****** Object:  StoredProcedure [testScalarFunctions].[test_dbo.getCalibrationChanged]    Script Date: 8/29/2023 10:17:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [testScalarFunctions].[test_dbo.getCalibrationChanged]
AS
BEGIN
	IF OBJECT_ID('expected') IS NOT NULL DROP TABLE expected;
	IF OBJECT_ID('actual') IS NOT NULL DROP TABLE actual;

	CREATE TABLE actual(result BIT);
	DECLARE @latestVersion VARCHAR(36);	SET @latestVersion = '01324523';
	DECLARE @calId INT;	SET @calId = 1;

	EXEC tSQLt.FakeTable 'dbo', 'CalDATA'

	EXEC tSQLt.FakeTable 'dbo', 'SEQUENCE_CalDATA'

	EXEC tSQLt.FakeTable 'dbo', 'NanoCalDATA'
	INSERT INTO [dbo].[NanoCalDATA] ([Id]
      ,[CalDATAId]
      ,[CalId]
      ,[StdId]
      ,[Analyte]
      ,[Mass]
      ,[Mode]
      ,[Point]
      ,[ReferenceMaterial]
      ,[RMDiameter]
      ,[RMDiaUnitId]
      ,[RMConcentration]
      ,[RMConUnitId]
      ,[RMDensity]
      ,[RMDenUnitId]
      ,[RMMassFraction]
      ,[RMMFUnitId]) VALUES (1
		,2
		,1
		,1
		,'Li'
		,'7'
		,'Hot'
		,'1'
		,''
		,''
		,''
		,''
		,''
		,''
		,''
		,''
		,'')

	EXEC tSQLt.FakeTable 'dbo', 'SEQUENCE_NanoCalDATA'
	INSERT INTO [dbo].[SEQUENCE_NanoCalDATA] ([Id]
      ,[VersionId]
      ,[CalId]
      ,[StdId]
      ,[Analyte]
      ,[Mass]
      ,[Mode]
      ,[Point]
      ,[ReferenceMaterial]
      ,[RMDiameter]
      ,[RMDiaUnitId]
      ,[RMConcentration]
      ,[RMConUnitId]
      ,[RMDensity]
      ,[RMDenUnitId]
      ,[RMMassFraction]
      ,[RMMFUnitId]) VALUES (1
	  ,'01324523'
	  ,1
	  ,1
	  ,'Li'
	  ,'7'
	  ,'Hot'
	  ,'1'
	  ,''
	  ,''
	  ,''
	  ,''
	  ,''
	  ,''
	  ,''
	  ,''
	  ,'')

	  INSERT INTO actual VALUES([dbo].[getCalibrationChanged]('01324523', 1));

	  CREATE TABLE expected(result BIT);

	  INSERT INTO expected VALUES(0);
	  INSERT INTO expected VALUES(1);

	  --change the current data to force a failure - simulates a changed versionId.. new run with slightly different cal definitions
	  UPDATE [dbo].[SEQUENCE_CalDATA] SET Stock = '200' WHERE VersionId = '01324523'
	  UPDATE [dbo].[SEQUENCE_NanoCalDATA] SET RMDensity = '1' WHERE VersionId = '01324523'

	  INSERT INTO actual VALUES([dbo].[getCalibrationChanged]('01324523', 1));

	  EXEC tSQLt.AssertEqualsTable 'expected', 'actual';
END;
