USE [PLASMATRAX_CurrentDev]
GO
/****** Object:  StoredProcedure [testScalarFunctions].[test_dbo.getStdStock]    Script Date: 8/29/2023 10:27:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [testScalarFunctions].[test_dbo.getStdStock]
AS
BEGIN
	IF OBJECT_ID('expected') IS NOT NULL DROP TABLE expected;
	IF OBJECT_ID('actual') IS NOT NULL DROP TABLE actual;

	CREATE TABLE actual(result VARCHAR(50));
	CREATE TABLE expected(result VARCHAR(50));
	DECLARE @versionId	VARCHAR(36);	SET @versionId = 'imaversionID';
	DECLARE @groupId	TINYINT;		SET @groupId = 0;

	INSERT INTO expected VALUES ('200');
	INSERT INTO expected VALUES ('200');
	INSERT INTO expected VALUES ('200');

	EXEC tSQLt.FakeTable 'dbo', 'SEQUENCE_CalDATA';

	EXEC tSQLt.FakeTable 'dbo', 'CalDATA';

	INSERT INTO actual VALUES ([dbo].[getStdStock](@versionId, @groupId));

	UPDATE [dbo].[SEQUENCE_CalDATA] SET [Unit] = 'ppb' WHERE [Id] IN (1, 2);
	UPDATE [dbo].[CalDATA] SET [Unit] = 'ppb' WHERE [Id] IN (1, 2);

	INSERT INTO actual VALUES ([dbo].[getStdStock](@versionId, @groupId));

	UPDATE [dbo].[SEQUENCE_CalDATA] SET [Unit] = 'ppm' WHERE [Id] IN (1, 2);
	UPDATE [dbo].[CalDATA] SET [Unit] = 'ppm' WHERE [Id] IN (1, 2);

	INSERT INTO actual VALUES ([dbo].[getStdStock](@versionId, @groupId));

	EXEC tSQLt.AssertEqualsTable 'expected', 'actual';
END;
