USE [PLASMATRAX_CurrentDev]
GO
/****** Object:  StoredProcedure [testScalarFunctions].[test_dbo.getSEQUENCE_DateTime]    Script Date: 8/29/2023 10:25:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [testScalarFunctions].[test_dbo.getSEQUENCE_DateTime]
AS
BEGIN
	IF OBJECT_ID('expected') IS NOT NULL DROP TABLE expected;
	IF OBJECT_ID('actual') IS NOT NULL DROP TABLE actual;

	CREATE TABLE actual([DateTime] VARCHAR(20));
	CREATE TABLE expected([DateTime] VARCHAR(20));

	DECLARE @sequenceId		VARCHAR(36);	SET @sequenceId = 'DC9417D8-0A1D-475C-8024-88B16EA0AF0D';
	DECLARE @description	VARCHAR(50);	SET @description = 'Std-2';

	EXEC tSQLt.FakeTable 'dbo', 'SEQUENCE_LIST';

	EXEC tSQLt.FakeTable 'dbo', 'SEQUENCE_DATA';

	INSERT INTO expected VALUES ('08/24/2023 14:25:47');
	INSERT INTO actual VALUES ([dbo].[getSEQUENCE_DateTime](@sequenceId, @description));

	UPDATE [dbo].[SEQUENCE_LIST] SET [AnalysisStd] = '123456' WHERE Id = 1;
	UPDATE [dbo].[SEQUENCE_DATA] SET [AnalysisStd] = '123456' WHERE Id = 1;

	--has a possibility to fail if this proc takes too long. havent run into any issues yet. 
	INSERT INTO expected VALUES (format(getdate(), 'MM/dd/yyyy HH:mm:ss'));
	INSERT INTO actual VALUES ([dbo].[getSEQUENCE_DateTime](@sequenceId, @description));

	EXEC tSQLt.AssertEqualsTable 'expected', 'actual';
END;
