USE [PLASMATRAX_CurrentDev]
GO
/****** Object:  StoredProcedure [testScalarFunctions].[test_dbo.select_ConvertedUnit]    Script Date: 8/29/2023 10:29:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [testScalarFunctions].[test_dbo.select_ConvertedUnit]
AS
BEGIN
	IF OBJECT_ID('expected') IS NOT NULL DROP TABLE expected;
	IF OBJECT_ID('actual') IS NOT NULL DROP TABLE actual;

	CREATE TABLE actual(result VARCHAR(10));
	CREATE TABLE expected(result VARCHAR(10));
	DECLARE @unit VARCHAR(10);	SET @unit = 'ppt';
	INSERT INTO actual VALUES ([dbo].[select_ConvertedUnit](@unit));
	SET @unit = 'ug/L';
	INSERT INTO actual VALUES ([dbo].[select_ConvertedUnit](@unit));
	SET @unit = 'ug/mL';
	INSERT INTO actual VALUES ([dbo].[select_ConvertedUnit](@unit));
	SET @unit = 'ppb';
	SET @unit = 'ng/L';
	SET @unit = 'ng/mL';
	SET @unit = 'ng/g';
	SET @unit = 'ppm';
	SET @unit = 'pg/L';
	SET @unit = 'pg/mL';

	INSERT INTO expected VALUES('ppt');
	INSERT INTO expected VALUES('ppt');
	INSERT INTO expected VALUES('ppt');

	EXEC tSQLt.AssertEqualsTable 'expected', 'actual';
END;
