USE [PLASMATRAX_CurrentDev]
GO
/****** Object:  StoredProcedure [testScalarFunctions].[test_dbo.getSequenceIndex]    Script Date: 8/29/2023 10:25:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [testScalarFunctions].[test_dbo.getSequenceIndex]
AS
BEGIN
	IF OBJECT_ID('expected') IS NOT NULL DROP TABLE expected;
	IF OBJECT_ID('actual') IS NOT NULL DROP TABLE actual;

	CREATE TABLE expected([index] VARCHAR(3));
	CREATE TABLE actual([index] VARCHAR(3));

	DECLARE @analysis	VARCHAR(12);	SET @analysis = '082423153832';
	DECLARE @sequenceId	VARCHAR(36);	SET @sequenceID = '8FF0C915-3B7F-4B79-B541-3D28BB00BC0B';

	EXEC tSQLt.FakeTable 'dbo', 'SEQUENCE_DATA_2';

	INSERT INTO actual VALUES([dbo].[getSequenceIndex](@analysis, @sequenceId));
	INSERT INTO expected VALUES('1');
	SET @sequenceId = '8FF0C915-3B7F-4B79-B541-3D28BB00BC0A';
	INSERT INTO actual VALUES([dbo].[getSequenceIndex](@analysis, @sequenceId));
	INSERT INTO expected VALUES('1');

	EXEC tSQLt.AssertEqualsTable 'expected', 'actual';
END;
